<mat-card class="home mat-elevation-z4">
    <mat-card-title class="title">Bem Vindo</mat-card-title>
    <mat-card-subtitle class="subtitle">Seu TivicBank está pronto para ser usado.</mat-card-subtitle>
    <button class="button" (click)="createAccount()" mat-raised-button color="primary">Criar Conta</button>
    <button class="button" (click)="goToAccount()" mat-raised-button color="primary">Operações Bancárias</button>
    <button class="button" (click)="listAccount()" mat-raised-button color="primary">Listar Contas Disponíveis</button>
</mat-card>
