<mat-card class="card mat-elevation-z4">
    <mat-card-title class="title">Informe seus Dados</mat-card-title>

    <form>
        <mat-form-field appearance="outline">
            <input matInput placeholder="Número da Conta" [(ngModel)]="account.account_number" name="account_number">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <input matInput placeholder="Senha" [(ngModel)]="account.account_password" name="account_password">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <input matInput placeholder="Valor do Saque" [(ngModel)]="account.amount" name="amount">
        </mat-form-field>
    </form>
    <button (click)="setWithdraw()" mat-button color="primary">Sacar</button>
    <a routerLink="/account" mat-button color="primary">Voltar</a>
</mat-card>